@page
@model IndexModel
@{
    ViewData["Title"] = "Sprawdzenie, czy rok jest przestępny";
}
<div class="text-center">
    <form method="post">
        <div>
            <label for="Year">Rok urodzenia:</label>
            <input type="number" id="Year" name="Input.Year" min="1870" max="2023" required />
            <span asp-validation-for="Input.Year" class="text-danger"></span>
            <label for="Name">Imię:</label>
            <input type="text" id="Name" name="Input.Name" maxlength="64" required />
            <span asp-validation-for="Input.Name" class="text-danger"></span>
            <br />
            <br />
        </div>
        <button type="submit">Confirm</button>
    </form>
    @if (Model.Result != null)
    {
        <p class="text-success">@Model.Result</p>
    }
    <div>
        <br />
        <a asp-page="./SavedInSession">Poprzednie wyniki</a>
    </div>
</div>