@page
@model SavedInSessionModel
@{
ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>
<ul>
    @foreach (var item in Model.FizzBuzzList)
    {
        <li>@item.Name, @item.Year - @(item.Year % 4 == 0 && (item.Year % 100 != 0 || item.Year % 400 == 0) ? "rok przestępny" : "nie jest rokiem przestępnym")</li>
    }
</ul>

